{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block extra_head_content %}
        <title>Login</title>
    {% endblock %}
</head>
<body>
{% block content %}
    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please sign in with an account that has access.</p>
        {% else %}
            <p id="loginNotification">Please sign in to see this page.</p>
        {% endif %}
    {% endif %}

    <div class="row">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="col-md-4 offset-md-4">
                <div class="card card-body bg-light">
                    <div class="form-group">
                        <label>{{ form.username.label_tag }}</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.password.label_tag }}</label>
                        {{ form.password }}
                    </div>
                    {% if form.errors %}
                        <p style="text-align: center; color: red">Username and password didn't match.</p>
                    {% endif %}
                    <div class="form-group">
                        <input id="loginButton" type="submit" value="Sign In" class="btn btn-success"/>
                    </div>
                    <div id="registerSuggest" class="border-top pt-3">
                        <small class="text-muted">
                            Don't have an account? <a href="{% url 'users:register' %}">Sign Up</a>
                        </small>
                    </div>
                </div>
                <input type="hidden" name="next" value="{{ next }}"/>
            </div>
        </form>
    </div>
{% endblock %}
</body>
</html>