#productsRow {
    display: flex;
    gap: 2rem;
}

#product {
    display: flex;
    padding-inline: 0.5%;
    padding-top: 1%;
    flex-direction: column;
    position: relative;
}

#productImage {
    height: auto;
    width: auto;
}

.productText {
    flex: 1;
}

.link-spanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#productFrame > .img {
    height: 70%;
}

#productTitle {
    font-size: 1.2em;
}

#productPrice {
    margin-top: auto;
    margin-bottom: 0;
    font-size: 1.1em;
}

#productPage {
    margin-top: .5em;
    position: relative;
}

#productPageTitle {
    text-align: center;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

#productTechnicals > p {
    margin-bottom: 0;
    position: relative;
}

#productTechnicalsPrice {
    font-size: 1.5em;
    text-align: center;

    bottom: 0;
    right: 0;
    position: absolute;

    margin-bottom: .5em;
    margin-right: 1em;
}

#productTechnicalsPrice > p {
    margin-bottom: 0;
}

#artDescription {
    margin-bottom: .5rem;
}

#artDescription > p {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.pagination {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.textLink {
    width: 6rem;
    text-align: center;
}