#productsRow {
    display: flex;
    gap: 2rem;
}

#product {
    display: flex;
    padding-inline: 0.5%;
    padding-top: 1%;
    flex-direction: column;
    position: relative;
}

#productImage {
    height: auto;
    width: auto;
}

.productText {
    flex: 1;
}

.link-spanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#productFrame > .img {
    height: 70%;
}

#productTitle {
    font-size: 1.2em;
}

#productPrice {
    margin-top: auto;
    margin-bottom: 0;
    font-size: 1.1em;
}

.detailsPage {
    margin-top: .5em;
    position: relative;
    margin-bottom: 1.5em;
}

.detailsPageTitle {
    text-align: center;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

#productTechnicals > p {
    margin-bottom: 0;
    position: relative;
}

#productTechnicalsPrice {
    font-size: 1.5em;
    text-align: center;

    bottom: 0;
    right: 0;
    position: absolute;

    margin-bottom: .5em;
    margin-right: 1em;
}

#productTechnicalsPrice > p {
    margin-bottom: 0;
}

#artDescription {
    margin-bottom: .5rem;
}

#artDescription > p {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.pagination {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.textLink {
    width: 6rem;
    text-align: center;
}

/* author.html */

#authorInfo {
    padding-top: .5rem;
}

#authorInfo > p {
    margin-bottom: 0;
}

#authorBooks {
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-top: .5rem;
    text-align: center;
}

.booksSection {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
}

.bookItem {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    justify-content: center;
    align-items: center;
}

.bookItem > a {
    text-decoration: none;
}

.bookItem > img {
    max-height: 150px;
    max-width: 150px;
    flex-grow: 0;
}